.git
.github
.vscode
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
docker-compose.yml
.env
.env.testing
phpunit.xml
tests
docker
Dockerfile
README.md
